/* main page standart*/
.wrap {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 870px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.header {
  display: flex;
  height: 55px;
  width: 100%;
  border-bottom: 1px solid rgb(125, 125, 125);
  align-content: center;
  align-items: stretch;
}

.circle {
  margin: 1%;
  width: 35px;
  height: 35px;
  background: black;
  border-radius: 50px;
}

.inscription {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: rgb(5, 181, 27);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(5, 181, 27);
  margin-top: 4%;
  margin-bottom: 4%;
  border-radius: 7px;
  padding: 0;
  outline: none;
}

.wrap-button-new {
  margin-top: 17px;
  margin-bottom: 17px;
}

.new:active {
  color: rgb(222, 35, 11);
  border: 1px solid rgb(222, 35, 11);
  outline: none;
}

.wrapper {
  height: 375px;
  width: 635px;
  margin-bottom: 6%;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 635px;
  height: 315px;
  border: 1px solid rgb(0, 0, 0);
}

.deleted {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: rgb(221, 35, 35);
  font-size: 16px;
  font-weight: 500;
  width: 635px;
  height: 315px;
  z-index: 100;
  background-color: rgba(163, 147, 147, 0.8);
}

.picture {
  width: 100%;
  height: 100%;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 635px;
  height: 55px;
  border-top: 1px solid rgb(142, 142, 142);
  border-left: 1px solid rgb(142, 142, 142);
  border-right: 1px solid rgb(142, 142, 142);
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 47%;
  font-size: 18px;
  font-weight: bold;
}

.delete {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 47%;
  font-size: 14px;
  color: red;
  cursor: pointer;
}

.delete:hover {
  color: rgb(16, 180, 232);
}

/*popup standart*/
.wrapper-ground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 400;
}

.ground {
  position: relative;
  top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 870px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(165, 165, 165);
  z-index: 200;
}

.form-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 235px;
  height: 350px;
  width: 365px;
  background-color: rgb(255, 255, 255);
}

.head {
  display: flex;
  justify-content: center;
  height: 22px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 44px;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 245px;
  height: 230px;
}

.input-text {
  border-color: rgb(0, 0, 0);
  border-width: 1px;
  width: 227px;
  height: 44px;
  margin-bottom: 32px;
  padding-left: 15px;
  font-size: 16px;
}

.wrapper-form-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  text-decoration: none;
  user-select: none;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.button-close:active {
  color: rgb(222, 35, 11);
  border: 1px solid rgb(222, 35, 11);
  outline: none;
}

.button-add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  text-decoration: none;
  user-select: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(123, 211, 0);
  color: rgb(123, 211, 0);
  font-weight: bold;
  font-size: 16px;
  padding: 0;
  outline: none;
}

.button-add:active {
  color: rgb(222, 35, 11);
  border: 1px solid rgb(222, 35, 11);
  outline: none;
}
